
<div>
    <div class="banner">
        <img class="banner-img" src="" srcset="~/Content/Images/bannermd.jpg 1388w, ~/Content/Images/bannerlg.jpg 1920w, ~/Content/Images/bannerxlg.jpg 3833w" />
    </div> 
</div>
<div class="container-fluid">
    <h1>Home Page</h1>
    <hr />
    <p>Welcome to Stowage Plan Analytics. This is a system designed to store and analyse the past stowage plan for each of the individual ship at different ports. With these data, we can decipher more factors which might affect the cost and speed of stowing and un-stowing the containers from the cargo vessel at each port of call. The following are the description of the function in this system.</p>

    <p><b>STIF Upload.</b> A function that will allow user to upload the STIF files of different ports as input with reference to the service selected. The information will be stored in the database. This are some of the example information extracted from the STIF file for calculations to be display in the Data Analysis page:</p>
    <ul>
        <li> Weight</li>
        <li> Stow Location</li>
        <li>
            Reefer
        </li>
        <li>
            Port of Container Loaded
        </li>
        <li>
            Port of Container Discharged
        </li>
        <li>
            Out of Gauge Cargo
        </li>
        <li>Etc.</li>
    </ul>

    <p><b>Data Analysis.</b> This function will make use of the past uploaded STIF files stored in the database to generate a specific range of statistics numbers and charts which is useful for the planner when planning a bay plan.</p>

    <p><b>Admin.</b> This function will allow the admin users to modify the parameters which might change such as adding additional ports, number of cranes, cost of move, addition and edition of vessels and adding new services.</p>



</div>