body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/*Header bar css*/
.top-bar {
    width: 100%;
    background: #337ab7;
    height: 50px;
    border-bottom: 2px solid #337ab7;
    position: fixed;
    z-index: 1;
}

.top-bar-wrapper {
    width: 1000px;
    height: 50px;
    padding-left: 0px;
    position: relative;
    margin: 0 auto;
    text-align: left;
    vertical-align: middle;
}

.logo {
    width: 114px;
    height: inherit;
    float: left;
}

.logo-container {
    margin-top: 5px;
    height: 40px;
    background-image: url('Images/SPA4.png');
    background-repeat: no-repeat;
    background-position: top center;
}

.top-bar-links {
    float: right;
    width: 480px;
    height: inherit;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

.links-container {
    position: absolute;
    right: 0;
    top: 0;
}

#dropdownnav:focus {
    background-color: white;
    color: #1c3f95;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.links {
    display: inline-block;
    padding: 10px 15px;
    margin: 0px 10px 0px 10px;
    position: relative;
    color: white;
    transition: all 0.3s ease-in-out;
    font-size: larger;
}

    .links:visited {
        color: white;
    }

    .links:hover {
        background-color: white;
        color: #1c3f95;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }






/*Banner css*/
.banner {
    margin: 0;
    width: 100%;
    position: relative;
    left: calc(-50vw + 50%);
}

.banner-img {
    border-bottom: 2px solid black;
}

.banner-s {
    width: 1000px;
    height: 100px;
    background-image: url('Images/Stowage.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 75px;
    left: 50%;
    margin-left: -480px;
}

.banner-p {
    width: 1000px;
    height: 75px;
    background-image: url('Images/Plan.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 175px;
    left: 85%;
    margin-left: -480px;
}

.banner-a {
    width: 1000px;
    height: 100px;
    background-image: url('Images/Analyzer.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    top: 260px;
    left: 100%;
    margin-left: -480px;
}

/*Content css*/
.content-container {
    height: 100%;
}

.content {
    width: 1000px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    background-color: white;
}


/*Font type*/
@font-face {
    font-family: 'Titillium-bold';
    src: url('Titillium-BoldUpright.otf') format('opentype');
    font-weight: bold 700;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif !important;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}



.table {
    border: 0.5px solid #000000;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 0.5px solid #000000;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #f2efef;
}


/*For Stif management Group Row*/
tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
